<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro/#interface">

  <xacro:property name="wheel_mechanical_reduction" value="${624/35 * 80/18}" />
  <xacro:property name="caster_mechanical_reduction" value="${624/35 * 80/18}" />

  <!--  Wheel transmission   -->
  <xacro:macro name="wheel_transmission" params="parent">
    <transmission name="${parent}_wheel_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="${parent}_wheel_motor" >
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>${wheel_mechanical_reduction}</mechanicalReduction>
      </actuator>
      <joint name="${parent}_wheel_joint" >
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>

  <!-- Caster transmission   -->
  <xacro:macro name="caster_transmission" params="suffix">
    <transmission name="${suffix}_rotation_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="${suffix}_rotation_motor">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>${caster_mechanical_reduction}</mechanicalReduction>
      </actuator>
      <joint name="${suffix}_rotation_joint" >
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>
  

  <xacro:macro name="base_transmission" params="prefix hw_interface">
    <!-- x -->
    <transmission name="tran_x">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="x_axis_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="motor_x">
        <hardwareInterface>${hw_interface}</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <!-- y -->
    <transmission name="tran_y">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="y_axis_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="motor_y">
        <hardwareInterface>${hw_interface}</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <!-- rotate -->
    <transmission name="trans_rotate">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="rotate_axis_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="motor_rotate" >
        <hardwareInterface>${hw_interface}</hardwareInterface>
        <mechanicalReduction>${caster_mechanical_reduction}</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  
</robot>
