<?xml version="1.0"?>
<robot name="xianquzhe1" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:include filename="$(find xianquzhe)/urdf/base/xianquzhe1_base.xacro" />
    <xacro:include filename="$(find xianquzhe)/urdf/base/arm_base.xacro" />
    <xacro:include filename="$(find xianquzhe)/urdf/base/effector.xacro" />

    <xacro:include filename="$(find xianquzhe)/urdf/sensors/kinect_gazebo.xacro" />
    <xacro:include filename="$(find xianquzhe)/urdf/sensors/lidar_gazebo.xacro" />
   


<!--load xianquzhe base-->
    <xacro:xianquzhe1_base/>

<!--load arm base-->
<xacro:arm_base prefix=""  />

  <joint name="urbase_joint" type="fixed">
    <parent link="Upper" />
    <child link = "ur_base" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-M_PI/2}" />
  </joint>

<!--load effector-->
<xacro:effector prefix=""  />

  <joint name="effector_joint" type="fixed">
    <parent link= "ur6"/>
    <child link = "effector_base" />
    <origin xyz="0.0 0.0 0.035" rpy="0.0 ${-M_PI/2} 0.0" />
  </joint>

<!--load kinect-->
<xacro:kinect_camera prefix="kinect"  />

  <joint name="kinect_joint" type="fixed">
    <parent link= "Upper"/>
    <child link = "kinect_link" />
    <origin xyz="0.5 0.0 0.02" rpy="${M_PI} ${-M_PI/2} 0.0" />
  </joint>

<!--load lidar-->
<xacro:rplidar prefix="laser"  />

  <joint name="laser_joint" type="fixed">
    <parent link= "base_link"/>
    <child link = "laser_link" />
    <origin xyz="0.0 0.0 0.85" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
