<?xml version="1.0"?>
<robot>
  <material name="prrobot/Orange">
    <color rgba="1.0 0.4 0.0 1.0"/>
  </material>
  <material name="prrobot/Grey">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
  <material name="prrobot/DarkGrey">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>
  <material name="prrobot/White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="prrobot/Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="prrobot/Red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <material name="prrobot/Green">
    <color rgba="0.0 1.0 0.0 1.0"/>
  </material>
  <material name="prrobot/Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="prrobot/LightGrey">
    <color rgba="0.82 0.82 0.82 1.0"/>
  </material>
  <material name="prrobot/Caster">
    <texture filename="package://pr_description/materials/textures/caster_texture.png" />
  </material>
  
  <material name="prrobot/Wheel_l">
    <texture filename="package://pr_description/materials/textures/wheel_left.png" />
  </material>
  
  <material name="prrobot/Wheel_r">
    <texture filename="package://pr_description/materials/textures/wheel_right.png" />
  </material>
</robot>
