<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="prrobot" >

  
   <!-- The following xacro:included files set up definitions of parts of the robot body -->
   <!-- misc common stuff? controller manager-->
   <!--<xacro:include filename="$(find pr_description)/urdf/common.xacro" />-->
   <xacro:include filename="$(find pr_description)/urdf/common.gazebo.xacro" />

   <!-- prrobot base -->
   <xacro:include filename="$(find pr_description)/urdf/base/base.urdf.xacro" />
   <xacro:arg name="base_transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
   <xacro:arg name="chassis_prefix" default="" />

   <!-- rod climb -->
   <xacro:include filename="$(find pr_description)/urdf/rod_climb/rod_climb.urdf.xacro" />
   <xacro:arg name="rod_climb_transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

   <!-- arm -->
   <xacro:include filename="$(find pr_description)/urdf/arm/arm.urdf.xacro" />
   <xacro:arg name="arm_transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
   <xacro:arg name="arm_prefix" default="" />

   <!-- lidar -->
   <xacro:include filename="$(find pr_description)/urdf/sensors/lidar_gazebo.xacro" />
   <xacro:arg name="lidar_enabled" default="true" />
   <xacro:property name="lidar_offset_x" value="0" />
   <xacro:property name="lidar_offset_y" value="0" />
   <xacro:property name="lidar_offset_z" value="1.0" />

   <!-- Zed camera -->
   <xacro:include filename="$(find pr_description)/urdf/sensors/stereo_camera.urdf.xacro" />
   <xacro:arg name="zed_enabled" default="true" />
   <xacro:property name="zed_base_parent" value="$(arg arm_prefix)wrist3_Link" />
   <xacro:property name="zed_offset_x" value="0" />
   <xacro:property name="zed_offset_y" value="0.1" />
   <xacro:property name="zed_offset_z" value="0" />
   <xacro:property name="zed_offset_roll" value="-1.5707" />
   <xacro:property name="zed_offset_pitch" value="-1.5707" />
   <xacro:property name="zed_offset_yaw" value="0" />

   <!-- materials for visualization -->
   <xacro:include filename="$(find pr_description)/urdf/materials.urdf.xacro" />


   <!-- Now we can start using the macros xacro:included above to define the actual gtrobot -->

   <!-- The first use of a macro.  This one was defined in base.urdf.xacro above.
         A macro like this will expand to a set of link and joint definitions, and to additional
         Gazebo-related extensions (sensor plugins, etc).  The macro takes an argument, name, 
         that equals "base", and uses it to generate names for its component links and joints 
         (e.g., base_link).  The xacro:included origin block is also an argument to the macro.  By convention, 
         the origin block defines where the component is w.r.t its parent (in this case the parent 
         is the world frame). For more, see http://www.ros.org/wiki/xacro -->
      
   <!-- base_footprint -->
   <xacro:base prefix="$(arg chassis_prefix)"
      transmission_hw_interface="$(arg base_transmission_hw_interface)"/>

   <!-- rod climb -->
   <joint name="rod_joint" type="fixed">
      <parent link="$(arg chassis_prefix)base_link" />
      <child link = "rod_link" />
      <origin xyz="0.055 0 0" rpy="0 0 0" />
   </joint>

   <xacro:rod_climb transmission_hw_interface="$(arg base_transmission_hw_interface)"/>

   <!-- arm -->
   <joint name="ur5_joint" type="fixed">
      <parent link="rodclimbing_link2" />
      <child link = "$(arg arm_prefix)aubo_base_link" />
      <origin xyz="0.3757 -0.00033749 0.028625" rpy="0 0 0" />
   </joint>

   <xacro:arm prefix="$(arg arm_prefix)" 
      transmission_hw_interface="$(arg arm_transmission_hw_interface)"
   />


   <!-- lidar -->
   <xacro:if value="$(arg lidar_enabled)">
      <joint name="lidar_joint" type="fixed">
         <origin xyz="${lidar_offset_x} ${lidar_offset_y} ${lidar_offset_z}" rpy="0 0 0" />
         <parent link="base_link"/>
         <child link="lidar_link"/>
      </joint>

      <xacro:rplidar prefix="lidar"/>
   </xacro:if>


   <!--Stereo Camera Joint-->
   <xacro:if value="$(arg zed_enabled)">
      <joint name="stereo_joint" type="fixed">
         <parent link="${zed_base_parent}"/>
         <child link="base_stereo"/>
         <origin xyz="${zed_offset_x} ${zed_offset_y} ${zed_offset_z}" 
               rpy="${zed_offset_roll} ${zed_offset_pitch} ${zed_offset_yaw}"/>
      </joint>
      <link name="base_stereo">
         <visual>
         <origin xyz="0 0 0" rpy="0 0 0"/>
         <geometry>
            <mesh filename="package://pr_description/meshes/sensors/ZED.stl" />
         </geometry>
         <material name="dark"/>
         </visual>
         <xacro:cuboid_inertial length="0.16" weight="0.04" hight="0.04" mass="0.00000001">
         <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
         </xacro:cuboid_inertial>
      </link>

      <xacro:stereo_camera_v0 parent="base_stereo" name="stereo" focal_length="320.030826" hfov="90" image_width="640" image_height="480" >
         <origin xyz="0 0 0.0" rpy="0.0   0.0   0.0" />
      </xacro:stereo_camera_v0>
   </xacro:if>

 

</robot>
