<?xml version="1.0"?>
<launch>
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="chassis_prefix" default="" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find pr_description)/urdf/base/base_robot.urdf.xacro' 
                transmission_hw_interface:=$(arg transmission_hw_interface) chassis_prefix:=$(arg chassis_prefix)" />
  

</launch>
