<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />

  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find pr_description)/urdf/prrobot.urdf.xacro' transmission_hw_interface:=$(arg transmission_hw_interface)" /> 

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawne" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model prrobot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description"/>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  
  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />

  <!-- launch joint state controller -->
  <rosparam file="$(find pr_gazebo)/controller/joint_state_controller.yaml" command="load"/> 

  <!-- Base Control Load -->
  <rosparam file="$(find pr_gazebo)/controller/base_controller.yaml" command="load" />

  <!-- Rod Climb Control Load -->
  <rosparam file="$(find pr_gazebo)/controller/rod_climbing_controller.yaml" command="load" />

  <!-- Arm -->
  <rosparam file="$(find pr_gazebo)/controller/arm_controllers.yaml" command="load" />

  <!-- GTrobot -->
  <rosparam file="$(find pr_gazebo)/controller/pr_controller.yaml" command="load" />

  
  <!-- Controllers that come up started -->

  <!-- <node name="default_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen" respawn="false"
        args="arm_group_controller 
              base_controller_x_axis
              base_controller_y_axis
              base_controller_rotate_axis
              joint_state_controller
              rod_climb_joint1
              rod_climb_joint2
              whole_group_controller
              " /> -->
  <node name="default_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen" respawn="false"
        args="
              joint_state_controller
              arm_group_controller 
              base_group_controller
              rod_climbing_group_controller
             " />

  <node name="group_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" 
        args="load 
              whole_group_controller
             " />





</launch>
